[Unit]
Description=Systemd Firewall Manager

[Timer]
OnBootSec=1min
OnUnitActiveSec=30
AccuracySec=1us
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
