[Unit]
Description=Systemd Mail Server

[Timer]
OnBootSec=1min
OnUnitActiveSec=240
AccuracySec=1us
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
